@model AllureRemodeling.Models.ResetPasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="newPassword" class="col-form-label">New Password:</label>
            <div class="col-md-10">
                <input class="form-control" type="password" name="newPassword" id="new_Password" />
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword" class="col-form-label">Confirm Password:</label>
            <div class="col-md-10">
                <input class="form-control" type="password" name="confirmPassword" id="confirm_Password" />
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(a => a.ResetCode)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="submit_newpassword" value="Change Password" class="btn btn-default btn-success" />
            </div>
        </div>
    </div>
}



@section Scripts
{
    <script>
        $(function ()
        {
            var resetCode = getUrlParameter('code');

            $("#submit_newpassword").click(function ()
            {
                var newPassword = $("#new_Password").val();
                var confirm = $("#confirm_Password").val();

                if (newPassword == confirm) {
                    $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("UpdatePassword", "User")',
                        data: JSON.stringify({ "updateCode": resetCode, "newPassword": newPassword }),
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        beforeSend: function ()
                        {
                            $(".loader").show();
                        },
                        success: function (returnData)
                        {
                            $.confirm
                                ({
                                    title: "Success",
                                    content: "Your Password has been updated!",
                                    type: 'green',
                                    typeAnimated: true,
                                    autoClose: 'OK|3000',
                                    buttons:
                                    {
                                        OK:
                                        {
                                            text: 'OK',
                                            btnClass: 'btn-green',
                                            action: function () {
                                                var redirectURL = '@Url.Action("Login", "User")';

                                                window.location.href = redirectURL;
                                            }
                                        }
                                    }
                                });
                        },
                        complete: function ()
                        {
                            // Hide loader
                            $(".loader").hide();
                        }
                    });
                }

                else
                {
                    showErrorMessage("Passwords Do Not Match", "The passwords you entered did not match.");
                }
            });
        });


    </script>
}