<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allure Remodeling and Home Improvement- @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/MainSite.css" rel="stylesheet" />
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="container-fullwidth page-header">
        <div class="row">
            <div class="glyphicon glyphicon-grain form-inline center-block"><h4 class="text-muted"><u>Turn your House into a Beautiful Home</u></h4><div class="glyphicon glyphicon-grain form-inline"></div></div>
            <div class="container-fluid col-md-12">
                ​<picture>
                    <img src="~/Content/allureforblue.jpg" class="img-fluid img-thumbnail mx-auto d-block border-0" alt="allure logo">
                </picture>
                <div class="container-fluid col-md-12 bg-light text-dark border border-dark">
                    <h3>Repairs Kitchens Bathrooms Sunrooms Faucets&Sinks Tubs&Showers Entry Doors Flooring Cabinets Countertops &More </h3>
                </div>
                <nav class="navbar-expand-lg border border-dark ">
                    <form>
                        <a href="@Url.Action("Index","Home")" class="btn btn-lg btn-light text-primary border border-primary"><u>Home</u></a>
                        <a href="@Url.Action("About","Home")" class="btn btn-lg btn-light text-primary border border-primary"><u>About Us</u></a>
                        <a href="@Url.Action("Services", "Home")" class="btn btn-lg btn-light text-primary border border-primary"><u>Services</u></a>
                        <a href="#" class="btn btn-lg btn-light text-primary border border-primary"><u>Gallery</u></a>
                        <a href="@Url.Action("Testimonials", "Home")" class="btn btn-lg btn-light text-primary border border-primary"><u>Customer Reviews</u></a>
                        <a href="#" class="btn btn-lg btn-light text-primary border border-primary"><u>Careers</u></a>
                        <a href="@Url.Action("Estimate", "Home")" class="btn btn-lg btn-light text-primary border border-primary"><u>Request an Estimate</u></a>
                        <a href="#" class="btn btn-lg btn-light text-primary border border-primary"><u>Create an Profile</u></a>
                        <a href="#" class="btn btn-lg btn-light text-primary border border-primary"><u>Login</u></a>
                    </form>
                </nav>
            </div>
        </div>
    </div>
    <div class="main-content container-fluid">
        <div class="row">
            <div class="container-fluid col-md-12  border border-dark">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer container-fluid col-md-12 border border-dark">
        <hr />
        <footer>
            <p>Ready to meet your home improvement needs?</p>
            <p>Ready to trust fully insured, highly reputable, and recommended general contractors?</p>
            <p><a href="#" class="btn btn-md btn-light text-primary border border-primary"><u>Request an Estimate Today!</u></a></p>
            <p><div class="glyphicon glyphicon-grain form-inline"><h4>Remodeling. Repairs. Home Improvements</h4><div class="glyphicon glyphicon-grain form-inline"></div></div></p>
            <p><div class="glyphicon glyphicon-earphone form-inline center-block">Questions? Call(513)237-8100</div></p>
            <p>&copy; @DateTime.Now.Year - Allure Remodeling and Home Improvement</p>
        </footer>
    </div>
   
</body>
</html>
